@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.favimg{
    height: 100px;
    width: 100%;
    
}
@media screen and (max-width:767px){
    .favimg{
        height: 175px;
        width: 100%;
        object-fit: cover;
        padding-right: 20px;
        
    }
}
aside{
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}
.fa-solid .fa-circle-xmark{
    position: absolute;
    top:5px;
    right: 10px;
}